body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(151, 108, 51, 0.507);
}
.top-text{
    background-color: rgba(0, 0, 0, 0.425);
    color: white;
    border-radius: 10px;
    width: 800px;
    padding: 10px;
}
.top-text h1{
    font-size: 30px;
    margin: 0;
}
.top-text p{
    font-size: 20px;
}
.ayla{
    background-image: url(flexyv2imgs/Alya\ Sometimes\ Hides\ Her\ Feelings\ in\ Russian\ -\ Eps\ 6\,\ Img\ 13\,\ \(136\).png);
    background-position: center;
    height: 700px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    /* align-items: center; */
    max-width: 1800px;
    width: 100%;
    display: flex;
    margin-top: 40px;
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
}

.card-img{
    width: 60%;
    border-radius: 10px;
}
.text-for-card{
    /* padding-left: auto; */
    display: block;
    /* align-items: center; */
    padding: 5px;
    align-items: center;
    width: 40%;
    background-color: rgba(114, 97, 21, 0.788);
    border-radius: 10px;
}
.text-for-card h2{
    /* align-items: center; */
    margin: 0 auto;/* i really need to memroise all these lmao */
    text-align: center;
    padding: 10px;
    font-size: 50px;
    background-color: aliceblue;
    width: 300px;
    border-radius: 10px;
}
.text-for-card p{
    font-size: 30px;
    background-color: rgba(68, 63, 18, 0.685);
    border-radius: 10px;
    padding: 10px;
}
.section:nth-child(1){
    flex-direction: row-reverse;
    /* changes is so that every other card's order is switched */
}
.bot1{
    background-color: rgba(0, 0, 0, 0.247);
    font-size: 20px;
    justify-content: center;
    width: 30%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
    margin-top: 20px;
}
.links{
    display: flex;
    /* background-color: rgba(175, 108, 108, 0.342); */
    /* width: 300px; */

}
.cya{
    text-align: center;
}
.link1{
    padding: 10px;
    text-align: center;
    width: 200px;
    font-size: 40px;
    background-color: rgba(112, 104, 34, 0.836);
    border-radius: 10px;
    margin: 0 auto;
}

.three-cards {
    display: flex;
    width: 200xp;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin-left: auto; */
    /* margin-right: auto; */
}
.cardss{
    background-color: rgb(54, 37, 11);
    border-radius: 10px;
    width: 20%;
    padding: 20px;
    margin-top: 30px;
    /* margin-left: 30px; */

}

.cardss p{
    padding: 10px;
    background-color: rgba(102, 89, 17, 0.61);
    height: 400px;
    border-radius: 10px;
    /* border-radius: 20; */
}
.cardss h2{
    text-align: center;
}













