body {
    color: #0e7fca; /*ligma */
    background-color: black;
  }







h2 {
color: rgb(165, 20, 20);
font-size: 2.5em;
font-family: "Helvetica", "Arial", sans-serif;
}

ul
{
    list-style-type: lower-roman;
}

