body {
    color: #0e7fca; /*ligma */
    background-color: black;
  }







h2 {
color: rgb(165, 20, 20);
font-size: 2.5em;
font-family: "Helvetica", "Arial", sans-serif;
text-align: center;
font-weight:normal;
}

ul
{
    list-style-type: lower-roman;
}






ol {
  list-style: none; /* Remove default markers */
  padding-left: 3px; /* Adjust to fit the image */
}

ol li {
  background-image: url(Images/bunny\ girl\ senpai.jpe); /*how to add image to code*/
  background-repeat: no-repeat;
  background-size: 20px 20px; /* Set the image size */
  background-position: 0 50%; /* Align the image vertically in the center */
  padding-left: 30px; /* Add padding to create space for the image */
}


a{
text-decoration: none; /*gets rid of the underline when it comes to links*/
}

p{
  text-align: center; /*how to aline your text!!!!1*/
}



strong{ /*here i can change what the srong function does lmao*/
  font-weight: normal;
  font-style: italic;
}


/*sets the backround color of each of these */
h1, p {
  background-color: #DDE0E3;    /* Light gray */
} /*this shows that it will change the color of the ENTIRE area*/

em, strong {
  background-color: #B2D6FF;    /* Light blue */
}/*shows that it will only change the color of tha area its in*/


em, strong {
  background-color: #B2D6FF;
  display: block; /*block makes  (whatever youre calling) into the
   block formation instead of having it with the rest of the text
   purpose could be to have it be its own heading*/
}

h1{
  padding: 20px; /*this adds padding to EACH side  */
}



p {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
/*
p {
  padding: 20px 30px; /* vertical and horizontal
}

These two do the same thing as the one above it

p {
  padding: 20px 30px 20px 30px; /* top, right, bot, left
}
*/

img {
  display:block;
  margin-left: auto;
  margin-right: auto;

}

