p{
    border-style:outset ;
    border-width: 30px;
    border-color: green;
    padding: 20px;
    background: linear-gradient(skyblue, rgb(146, 42, 42));
    border-radius: 30px;
    
}
/*body{
    background-image: url(animeadult.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}*/

body{
    margin-top: 400px;
    background-image: url(swag\ mirimora.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#box1{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 20px;
    background-color: violet;
    padding: 20px;
    margin-left: auto;
}
#box2{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 20px;
    background: linear-gradient(to left, skyblue, lightgreen);
    margin-left: 250px;
}