.button-container{
    display: inline-block;
    position: relative;
}

p{
    background: linear-gradient(to left, red, white, blue);
    /* position: absolute; */
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
}
.hover-text{
    position: absolute;
    background: linear-gradient(to right, red, white, blue);
    transform: translate(-120%, -50%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}
.button-container:hover .hover-text{
    transform: translate(0%,0%);
    opacity: 1;
}